/*When babel-loader is called in the webpack config file, this file tells it what to do.*/


{
  "plugins": [
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-transform-runtime"],
    "@babel/plugin-transform-async-to-generator"
  ],
  "presets": ["@babel/preset-env"]
}
